body{
    margin: 0;
  }

  a{
    color: red;
  }

  a:active{
    color:red;
    font-weight: bold;
  }

  a:visited{
    color: orange;
  }

  .header{
    background-color: #121212;
    text-align: center;
  }

  .configuration{
    width: 500px;
    padding: 8px;
    background-color: #26282a;
    color: white;
  }

  .about{
    padding: 8px;
    background-color: #262525;
    color: white;
  }